    <div class="container">
        <div class="row">
            <div class="col-md-12 cp-logo-footer">
                <img src="{{ "/assets/images/cp-logo-gray.svg" | prepend: site.baseurl }}">
            </div>
        </div>
    </div>
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ "/assets/js/tether.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/cp-main.js" | prepend: site.baseurl }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://use.typekit.net/nmz1rxe.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript">
    function getCookie(name) {
        var cookie = document.cookie;
        var prefix = name + "=";
        var begin = cookie.indexOf("; " + prefix);
        if (begin == -1) {
            begin = cookie.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
            end = cookie.length;
            }
        }
        return unescape(cookie.substring(begin + prefix.length, end));
    } 
    function evalSession(){
    	var myCookie = getCookie("_pagoswebsite_session");
    	console.log('local storage');
    	var retrievedObject = localStorage.getItem('flagCP');
    	console.log(retrievedObject); 
    	console.log('update'); 
		console.log(document.cookie); 
    	if (myCookie == null) {
    	    alert("cookie does not exist");
    	} else {
    	    alert("cookie exists");
    	}
    }
    
    function listCookies() {
        var theCookies = document.cookie.split(';');
        var aString = '';
        for (var i = 1 ; i <= theCookies.length; i++) {
            aString += i + ' ' + theCookies[i-1] + "\n";
        }
        //return aString;
        console.log(aString);
    }
    </script>
  </body>
</html>