<!-- <div class="cp-main-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Header
            </div>
        </div>
    </div>
</div> -->

<nav class="navbar navbar-light cp-main-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="https://compropago.com/" class="navbar-brand"><img src="{{ "/assets/images/cp-logo-header.svg" | prepend: site.baseurl }}" alt="Compropago"></a>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Documentación</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                          <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ayuda y Soporte
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownHelp">
                            <a class="dropdown-item" href="#">Centro de ayuda y soporte</a>
                            <a class="dropdown-item" href="#">Solicitar integración</a>
                            <a class="dropdown-item" href="#">Guía para empezar</a>
                            <a class="dropdown-item" href="#">Información de contacto</a>
                          </div>
                        </div>
                    </li>
                    <li class="nav-item cp-nav-btn">
                        <button class="cp-btn-signin" type="submit" onclick="listCookies();">Ingresar</button>
                    </li>
                    <li class="nav-item cp-nav-btn">
                        <button class="cp-btn-signup" type="submit" onclick="evalSession();">Registrase</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>