<div class="cp-navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <nav class="navbar navbar-light">
                  <ul class="nav navbar-nav">
                    <li class="nav-item {% if page.root == "home" %}active{% endif %}">
                      <a class="nav-link" href="{{site.baseurl}}/">Inicio</a>
                    </li>
                    <li class="nav-item {% if page.root == "api" %}active{% endif %}">
                      <a class="nav-link" href="{{site.baseurl}}/api/">API</a>
                    </li>
                    <li class="nav-item {% if page.root == "plugins" %}active{% endif %}">
                      <a class="nav-link" href="{{site.baseurl}}/plugins/">Plugins</a>
                    </li>
                    <li class="nav-item {% if page.root == "librerias" %}active{% endif %}">
                      <a class="nav-link" href="{{site.baseurl}}/librerias/php/">Librerías</a>
                    </li>
                    <li class="nav-item {% if page.root == "general" %}active{% endif %}">
                      <a class="nav-link" href="{{site.baseurl}}/general/">General</a>
                    </li>
                    <li class="nav-item {% if page.root == "devblog" %}active{% endif %}">
                      <a class="nav-link" href="{{site.baseurl}}/devblog">Dev Blog</a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</div>