<div class="cp-top">
	<h2>
		Top Plugins y Librerías
	</h2>
	<div class="row">
		<a href="{{ "/plugins/magento/" | prepend: site.baseurl }}">
			<div class="cp-card-plugin">
				<img src="{{ "/assets/images/icons/magento.svg" | prepend: site.baseurl }}" alt="Magento">
				<span>MAGENTO</span>
				<span class="cp-version">1.9</span>
				<span class="cp-show">Ver</span>
			</div>
		</a>			
	</div>
	<div class="row">
		<a href="{{ "/plugins/shopify/" | prepend: site.baseurl }}">
			<div class="cp-card-plugin">
			<img src="{{ "/assets/images/icons/shopify.svg" | prepend: site.baseurl }}" alt="Shopify">
			<span>SHOPIFY</span>
			
			<span class="cp-show">Ver</span>
			</div>
		</a>
	</div>
	<div class="row">
		<a href="{{ "/plugins/woocommerce/" | prepend: site.baseurl }}">
		<div class="cp-card-plugin">
			<img src="{{ "/assets/images/icons/woocommerce.svg" | prepend: site.baseurl }}" alt="Prestashop">
			<span>WOOCOMMERCE</span>
			
			<span class="cp-show">Ver</span>
		</div>
		</a>
	</div>
</div>