@import colors
@import mixins
@import syntax-highlighting

.shadow
    -webkit-box-shadow: 0px 0px 20px 0px rgba($gray,0.20)
    -moz-box-shadow: 0px 0px 20px 0px rgba($gray,0.20)
    box-shadow: 0px 0px 20px 0px rgba($gray,0.20)

.semi
    font-weight: 600

.regular
    font-weight: 400


html
    // font-size: 16px
    font-size: 100%
    font-family: "proxima-nova",'Open Sans', sans-serif
body
    background-color: $blueLight
h1
    // font-size: 32px
    color: $grayDark
    @extend .semi
    
h2
    // font-size: 26px
    color: $grayDark
    @extend .regular
    
h3
    // font-size: 22px
    color: $grayDark
    @extend .regular
    
h4
    font-size: 16px
    @extend .semi
    
h5
    font-size: 14px
    color: $blue
    @extend .semi
    
h6
    font-size: 12px
    @extend .regular

// li
//     font-weight: 600
    
a
    color: $blue
    
    &:hover
        color: $blue
        
// pre
//     background-color: $gray
//     color: $white
//     padding-top: 8px
//     padding-bottom: 8px
//     padding-left: 12px


    
blockquote
    border-left: 5px $grayLight solid
    padding-left: 15px
    font-size: 16px

    h6
        font-size: 16px
    
hr
    border-top: $green 1px $grayLight
    margin-left: 0
    margin-top: 25px
    margin-bottom: 25px
    max-width: 100%

img
    max-width: 100%
    height: auto

.if-header
    margin-bottom: 1%

nav img 
    // width: 100%
    max-height: 80px



.if-wrap
    background: transparent

.if-footer-nav
    background: $blueDarkLight
    padding-top: 2%
    margin: 1% 0 0 0
    color: $white
    font-size: .7rem
    text-decoration: none

    i 
        color: $gray
        font-size: 1rem
        padding-right: .7em

    a
        color: $white
        text-decoration: none
        &:hover
            color: $white
            text-decoration: underline

.if-footer-cr
    background: $blueDark
    padding: 1%
    text-align: center
    color: $grayLight
 
.entry
    background: $white
    margin-bottom: 5%
    +box-shadow(0px 0px 10px 0px $grayLight)

.content-wrapper
    padding: 10%
    padding-top: 5%
    padding-bottom: 5%

.paginator
    text-align: center

    .pager li
        display: inline