{% include header.html %}       
{% include main-menu.html %}
{% include navbar.html%}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include breadcrumb.html %}
                </div>
            </div>
            <div class="row docs-body">
                <div class="col-md-3 sidebar">
                    <div class="cp-sidebar">
                        {% include sidebar.html %}
                    </div>
                    {% include sidebar-plugins-top.html%}
                </div>
                <div class="col-md-8 col-md-offset-1">
                {% if page.icon %}
					{% assign icon = site.data.icons[page.icon] %}
					<img class="icon-plugin" src="{{ "/assets/images/icons/" | prepend: site.baseurl }}{{icon}}" >	
                {% endif %}   
                {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}

